# Question 4: SQL and Python
Bike rental company

# Code Section

In [1]:
import sqlite3

#It is important to maintain the database file in the same folder of this jupyter notebook
db = sqlite3.connect("bikecompany.db") 
db.isolation_level = None

"""

This function retrieves the total distance that the specified user has driven. E.g.
print("Test 1:", distance_of_user("user123"))
and if implemented correctly it should output:
Test 1: 130160

"""

def distance_of_user(user):
    dist_of_user = db.execute(
        f"""SELECT SUM(distance)
        FROM Trips 
        INNER JOIN Users ON Trips.user_id = Users.id 
        WHERE Users.name=?;""", [user]).fetchone()
    return print(f'In total, the {user} has driven {dist_of_user[0]} meters')


"""
This function retrieves the average speed for all trips driven by a specific user rounding to two decimal spaces. E.g.
print("Test 2:", speed_of_user("user123"))
and if implemented correctly it should output:
Test 2: 17.35
"""


def speed_of_user(user):
    avg_spd_of_user = db.execute(
        f"""SELECT ROUND((all_distance / all_duration),2)
        FROM (SELECT Users.name,SUM(distance)/1000.00 all_distance,SUM(duration)/60.00 all_duration
        FROM Trips
        INNER JOIN Users ON Users.id = Trips.user_id
        WHERE Users.name=?);""", [user]).fetchone()
    return print(f'The average speed for all trips driven by {user} is {avg_spd_of_user[0]} km/h.')


"""

This function retrieves for each city how long all bikes in the city were driven in total during the given day. E.g.
print("Test 3:", duration_in_each_city("2021-06-01"))
and if implemented correctly it should output:
Test 3: [('city1', 58655), ('city10', 59296), ('city2', 60947)…]
"""


def duration_in_each_city(day):
    dur_in_city_per_day = db.execute(
        f"""SELECT C.name, SUM(T.duration)
        FROM Bikes B, Trips T, Cities C
        WHERE B.city_id = C.id AND B.id = T.bike_id AND T.day=?
        GROUP BY C.id LIMIT 10""", [day]).fetchall()
    listcities = dur_in_city_per_day
    for row in listcities:
        print(f"In the {row[0]},the bikes were driven: {row[1]} min.")


"""

This function retrieves for how many different users used the bikes in the given city. E.g
print("Test 4:", users_in_city("city5"))
and if implemented correctly it should output:
Test 4: 43102

"""


def users_in_city(city):
    users_city = db.execute(
        f"""SELECT COUNT(DISTINCT user_id), cities.name
        FROM Trips
        INNER JOIN Stops ON Trips.from_id = Stops.id
        INNER JOIN Cities ON Stops.city_id = Cities.id
        WHERE cities.name=?
        GROUP BY cities.name""", [city]).fetchone()
    return print(f'The trips made in the {city} are {users_city[0]}')


"""

This function retrieves how many trips were driven each day in the given city.
print("Test 5:", trips_on_each_day("city5"))
and if implemented correctly it should output:
Test 5: [('2021-06-01', 3362), ('2021-06-02', 3345),…]

"""

def trips_on_each_day(city):
    trips_in_aCity_each_day = db.execute(
         f"""SELECT day, COUNT(id)
         FROM Trips 
         WHERE from_id IN (SELECT Stops.id 
                           FROM Cities, Stops
                           WHERE Cities.id = Stops.city_id AND Cities.name=?)
                           GROUP BY day""", [city]).fetchall()
   
    return print(trips_in_aCity_each_day)

"""

This function retrieves the most popular starting location and the number of trips starting from that stop.
print("Test 6:", most_popular_start("city5"))
and if implemented correctly it should output:
Test 6: ('stop419', 1073)

"""


def most_popular_start(city):
    stop_popular = db.execute(
    f"""SELECT STOP, MAX(travelsmade), City
    FROM(SELECT Stops.name STOP, Cities.name City, COUNT(DISTINCT Trips.id) AS travelsmade
    FROM Trips
    INNER JOIN Stops ON Trips.from_id = Stops.id
    INNER JOIN Cities ON Stops.city_id = Cities.id
    GROUP BY Stops.name)
    WHERE City=?""", [city]).fetchone()
    return print(f'The most popular stop of the {city} is: {stop_popular[0]} with {stop_popular[1]} stops')

# Testing Section

In [2]:
if __name__ == "__main__":
    test_user = "user123"
    test_city = 'city5'
    test_day = "2021-06-01"

Function 1

In [3]:
distance_of_user(test_user)

In total, the user123 has driven 130160 meters

Function 2

In [4]:
speed_of_user(test_user)

The average speed for all trips driven by user123 is 17.35 km/h.

Function 3

In [5]:
duration_in_each_city(test_day)

In the city1,the bikes were driven: 58655 min.
In the city2,the bikes were driven: 60947 min.
In the city3,the bikes were driven: 59470 min.
In the city4,the bikes were driven: 57488 min.
In the city5,the bikes were driven: 59829 min.
In the city6,the bikes were driven: 59925 min.
In the city7,the bikes were driven: 57403 min.
In the city8,the bikes were driven: 59354 min.
In the city9,the bikes were driven: 59749 min.
In the city10,the bikes were driven: 59296 min.

Function 4

In [6]:
users_in_city(test_city)

The trips made in the city5 are 43102

Function 5

In [7]:
trips_on_each_day(test_city)

[('2021-06-01', 3362), ('2021-06-02', 3345), ('2021-06-03', 3313), ('2021-06-04', 3276), ('2021-06-05', 3376), ('2021-06-06', 3365), ('2021-06-07', 3351), ('2021-06-08', 3355), ('2021-06-09', 3284), ('2021-06-10', 3324), ('2021-06-11', 3272), ('2021-06-12', 3399), ('2021-06-13', 3308), ('2021-06-14', 3287), ('2021-06-15', 3266), ('2021-06-16', 3376), ('2021-06-17', 3321), ('2021-06-18', 3390), ('2021-06-19', 3320), ('2021-06-20', 3319), ('2021-06-21', 3303), ('2021-06-22', 3429), ('2021-06-23', 3234), ('2021-06-24', 3305), ('2021-06-25', 3260), ('2021-06-26', 3350), ('2021-06-27', 3196), ('2021-06-28', 3222), ('2021-06-29', 3252), ('2021-06-30', 3439)]

Function 6

In [8]:
most_popular_start(test_city)

The most popular stop of the city5 is: stop419 with 1073 stops

# Try another day, cities or users

Function 1

In [9]:
print('\nDISTANCE TRAVELLED BY USER')
name1 = input('Enter the name of the user:')
distance_of_user(name1)

DISTANCE TRAVELLED BY USER
Enter the name of the user:user123
In total, the user123 has driven 130160 meters

Function 2

In [10]:
print('\nAVERAGE SPEED OF THE USER')
name2 = input('Enter the name of the user:')
speed_of_user(name2)

AVERAGE SPEED OF THE USER
Enter the name of the user:user123
The average speed for all trips driven by user123 is 17.35 km/h.

Function 3

In [11]:
print('\nDURATION IN EACH CITY')
day1 = input('Enter the day:')
duration_in_each_city(day1)

DURATION IN EACH CITY
Enter the day:202

Function 4

In [12]:
print('\nUSERS IN A CITY')
city1 = input('Enter the name of the city:')
users_in_city(city1)

USERS IN A CITY
Enter the name of the city:city5
The trips made in the city5 are 43102

Function 5

In [ ]:
print('\nTRIPS ON EACH DAY ')
city2 = input('Enter the name of the city:')
trips_on_each_day(city2)

Function 6

In [13]:
print('\nMOST POPULAR LOCATION ')
city3 = input('Enter the name of the city:')
most_popular_start(city3)

MOST POPULAR LOCATION
Enter the name of the city:city5
The most popular stop of the city5 is: stop419 with 1073 stops